.add-product{
    box-sizing: border-box;
    width: 100%;
    max-width: 900px;
    max-width: 30px 50px;
    border-radius: 6px;
    background: white;
    margin: auto;
    margin-top: 50px;
}

.add-product h1{
    text-align: center;
    margin-top: 1em;
}
.addproduct-input{
    width: 90%;
    color: gray;
    font-size: 16px;
    margin: auto;

}

.addproduct-input input{
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    border-radius: 4px;
    padding-left: 15px;
    border: 1px solid #c3c3c3;
    outline: none;
    color: #7b7b7b;
    font-size: 15px;
}

.addproduct-price{
    display: flex;
    width: 90%;
    margin: auto;
    gap: 30px;
}

.add-product-selector{
    padding: 10px;
    width: 100%;
    height: 50px;
    font-size: 14px;
    color: #7b7b7b;
    border: 1px solid #7b7b7b8d;
    border-radius: 4px;
}

.addproduct-img{
    height: 120px;
    width: 120px;
    border-radius: 10px;
    object-fit: contain;
    margin: 10px 0;

}

.addproduct-btn{
    margin-top: 30px !important;
    margin-bottom: 30px !important;
    width: 160px;
    height: 50px;
    border-radius: 30px;
    background: #30e2df;
    border: solid 2px #5af5f2;
    cursor: pointer;
    color: #ffffff;
    font-size: 24px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.addproduct-btn:hover{
    background: #6dfcfa;
}



.img_upload{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


@media(max-width: 800px){
    .add-product{
        width: auto;
        padding: 30px;
        margin: 20px;
    }
}

